
maps/E1M1.wad.backup1
maps/E1M1.wad.backup2
maps/E1M1.wad.backup3
maps/E1M4.wad.backup1
maps/E1M4.wad.backup3
maps/E1M4.wad.backup2
maps/E1M6.wad.backup1
*.backup2
maps/E1M6.wad.backup3
*.backup1
*.dbs
*.backup3
